# Compiled source #
###################
# *.com
*.class
*.dll
*.exe
*.o
*.pyc
*.so
.vagrant
.terraform

# Temporary files #
###################
*.swp
*.swo
*~

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
# *.sql
*.sqlite

# Special files #
######################
.envrc*
.tags
.attach*
.zsh_config*
tags*
wip.md

# Build folders #
######################
target/

# Special folders #
######################
.direnv
bundle
plugins
oh-my-zsh
s-doc
.ropeproject
.idea
node_modules
dotbot
.venv
local
tmp
